# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SignalRClient.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\stasi\RiderProjects\SignalRClient\.idea\.idea.SignalRClient\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
